<!-- <nav>
  ls:
  {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link %}style="color: green;"{% endif %}>
      {{ item.name }}
      <newline>
    </a>
  {% endfor %}
</nav> -->
<aside>
<h3>ls:</h3>
  <ul>
    {% for doc in site.pages %}
      {% assign name = doc.name | remove: ".html" | remove: ".md" %}
        {% if name.size != doc.name.size %}
          <li><a href="{{ doc.url }}">{{ name }}</a></li>
        {% endif %}
    {% endfor %}
  </ul>
</aside>